<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">About Me</h2>
  <hr class="mb-4 border-zinc-600">
  <p class="leading-8 text-lg text-pretty mb-3 text-zinc-400">Web developer passionate about creating high-impact digital experiences. My approach combines attention to detail with a constant search for elegant solutions.</p>
  <p class="leading-8 text-lg text-pretty text-zinc-400">Currently, I'm deepening my knowledge in software development, expanding my skills from the frontend to a <strong class="text-zinc-100 font-medium">full-stack perspective.</strong></p>
</section>