---
import Github from "@assets/icons/github.astro"
import Email from "@assets/icons/email.astro"
import ContainerHover from "@components/ContainerHover.astro"
---

<nav class="w-full flex justify-between items-center">
  <span class="text-xl">@anangnovriadi</span>
  <div class="flex gap-3 items-center">
    <ContainerHover link="mailto:anangnov99@gmail.com@gmail.com">
      <Email />
    </ContainerHover>
    <ContainerHover link="https://github.com/anangnovriadi">
      <Github />
    </ContainerHover>
  </div>
</nav>